
NAME="CommonTools"
DESC="Install common tools"
COMMAND=' 
apt install -y htop iftop iotop screen tree sshuttle clamav mirage terminator
## Terminator configuration
if [ ! -d '~/.config/terminator/' ]; then mkdir ~/.config/terminator/; fi
cp ./resources/configurations/terminator ~/.config/terminator/config
'
