
NAME="Set SANS Wallpaper"
DESC=""
COMMAND="
## Set SANS Wallpaper
cp ./resources/wallpaper/* /`echo $HOME`/Pictures/
gsettings set org.gnome.desktop.background picture-uri "file:///`echo $HOME`/Pictures/sans_wallpaper_v5.png"
"
