
NAME="I3 WM"
DESC=""
COMMAND="
export DEBIAN_FRONTEND=noninteractive
# I3 
apt install -y i3 i3blocks py3status rofi gtk-theme-switch lxappearance terminator nemo
cp -rf ./resources/configurations/i3/.config/* /root/.config/
# Other
apt install -y zsh fonts-powerline dconf-cli
yes Y y | sh -c \"\$(curl -fsSL https://raw.githubusercontent.com/robbyrussell/oh-my-zsh/master/tools/install.sh)\"
git clone git://github.com/sigurdga/gnome-terminal-colors-solarized.git ~/.solarized
cd ~/.solarized
yes 1 | ./install.sh -s dark -p \`cat /usr/share/glib-2.0/schemas/org.gnome.Terminal.gschema.xml | grep 'override' | grep 'list' | awk -F \"'\" '{print \$2}'\` --install-dircolors 1
cd -
echo 'eval \`dircolors ~/.dir_colors/dircolors\`' >> ~/.zshrc
sed -i -e 's,^ZSH_THEME=.*,ZSH_THEME=\"agnoster\",' /root/.zshrc
sed -i -e 's,^gtk-theme-name=.*,gtk-theme-name=Kali-X,' /root/.config/gtk-3.0/settings.ini
echo '
include \"/usr/share/themes/Kali-X/gtk-2.0/gtkrc\"
include \"/root/.gtkrc-2.0.mine\"
' > /root/.gtkrc-2.0
cp -rf ./resources/configurations/i3/.fonts /root/
chsh -s \$(which zsh)
"
